.instructor{
    padding-top: 10px;
    margin-left: -1050px;
    color: black;
}
.elText_div{
    width: 300px;
    height: 960px;
    margin-top: 40px;
    margin-left:160px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.el{
    width: 300px;
    height: 320px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.el_name{
    margin-top: 10px;
}
.about_el{
    text-align: left;
    padding: 5px;
    font-family: Inter,sans-serif;
    line-height: 25px;
}