.title_div{
    width: 410px;
    height: 400px;
    background: rgba(0,0,225,0.4);
    margin-left: 960px;
    margin-top: -570px;
    padding: 30px;
}

.title{
    font-family: Century, sans-serif;
    font-size: 100px;
    color: rgba(128,128,128,0.9);
    margin-top: -20px;

    animation: slide 10s infinite;
}

@keyframes slide {
    0%{margin-left: -400px;}
    20%{margin-left: -400px;}
    35%{margin-right: 800px;}
    100%{margin-right: 800px;}
}