.cards{
    background-color: white;
    width: 700px;
    height: 500px;
}

.card_list{
    display: flex;
}

.daily{
    margin-top: 10%;
}

.card{
    background-color: black;
    width: 300px;
    height: 300px;
    color: white;
    margin-left: 25%;
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 4px 5px 10px 1px rgba(0, 33, 454, 3223);
}

.image{
    width: 180px;
    height: 140px;
    border-radius: 10px;

    transition: all .2s ease-in-out;
}

.image:hover{
    transform: scale(1.5);
}

.name{
    font-size: 15px;
    font-family: Inter, sans-serif;
    margin-top: 10%;
}