.cards{
    background-color: white;
    width: 700px;
    height: 500px;
    /*margin-top: 40px;*/
}

.card_list{
    /*display: flex;*/
}

.daily{
    margin-top: 10%;
}

.card{
    background-color: black;
    width: 1000px;
    height: 380px;
    color: white;
    margin-left: 37%;
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 4px 5px 10px 1px rgba(0, 33, 454, 3223);
}

.image{
    width: 280px;
    height: 180px;
    border-radius: 10px;
    margin-left: -570px;

    transition: all .2s ease-in-out;
}

.image:hover{
    transform: scale(1.5);
}

.name{
    font-size: 35px;
    font-family: Century, sans-serif;
    margin-top: 35px;
    margin-left: -649px;
}

.text{
    width: 450px;
    margin-left: 420px;
    margin-top: -300px;
    text-align: left;
    font-family: Century,sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: goldenrod;
}

.price{
    margin-top: 30px;
    margin-left: -685px;
}

.register{
    padding: 10px;
    width: 120px;
    background-color: black;
    color: white;

    font-family: Inter, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-left: 800px;

    margin-top: -10px;
    border: none;
    border-radius: 9px;

    cursor: pointer;
}

.register:hover{
    background-color: blue;
}
