.hero{
    background-image: url("../../../asset/images/talent-management-hr--.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 590px;
    margin-top: 12.3%;
}